<aside class="Hui-aside">
    <div class="menu_dropdown bk_2">

        <dl id="menu-shop">
            <dt><i class="Hui-iconfont">&#xe616;</i> 店铺管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('shop/index')}" data-title="店铺列表" href="javascript:void(0)">店铺列表</a></li>
                </ul>
            </dd>
        </dl>

        <dl id="menu-goods">
            <dt><i class="Hui-iconfont">&#xe616;</i> 商品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a data-href="{:url('goods/index')}" data-title="团购商品列表" href="javascript:void(0)">团购商品列表</a></li>
                </ul>
            </dd>
        </dl>

    </div>
</aside>

<div class="dislpayArrow hidden-xs"><a class="pngfix" href="javascript:void(0);" onClick="displaynavbar(this)"></a></div>