{include file='public/header'}

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="text-c"> 日期范围：
        <input type="text" onfocus="" id="datemin" class="input-text Wdate" style="width:120px;">
        -
        <input type="text" onfocus="" id="datemax" class="input-text Wdate" style="width:120px;">
        <input type="text" class="input-text" style="width:250px" placeholder="输入会员名称、电话、邮箱" id="" name="">
        <button type="submit" class="btn btn-success radius" id="" name=""><i class="Hui-iconfont">&#xe665;</i> 搜用户</button>
    </div>

    总人数:{$count}

    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">用户名</th>
                <th width="90">手机</th>
                <th width="150">邮箱</th>
                <th width="130">加入时间</th>
                <th width="70">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='user'}
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td>{$user.id}</td>
                <td><u style="cursor:pointer" class="text-primary">{$user.username}</u></td>
                <td>{$user.phoneNumber}</td>
                <td>{$user.email}</td>
                <td>{:date("Y-m-d H:i:s", $user.create_time)}</td>
                <td class="td-status">{:status($user.status)}</td>
                <td class="td-manage">
                    {if $user.status != 1}
                    <a style="text-decoration:none; font-size: 20px;" onclick="content_handle('确认要启用该用户吗?', '{:url('user/status', ['id'=>$user.id, 'status'=>1])}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
                    {else /}
                    <a style="text-decoration:none; font-size: 20px;" onclick="content_handle('确认停用该用户吗?', '{:url('user/status', ['id'=>$user.id, 'status'=>-1])}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                    <a title="删除" href="javascript:;" onclick="content_handle('确认删除吗?','{:url('user/status', ['id'=>$user.id, 'status'=>0])}')" class="ml-5" style="text-decoration:none; font-size: 20px;"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}

                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

{include file='public/footer'}