{include file='public/header'}

<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 分类管理 <span class="c-gray en">&gt;</span> 分类列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">
                <th width="25"><input type="checkbox" name="" value=""></th>
                <th width="80">ID</th>
                <th width="100">分类名称</th>
                <th width="130">创建时间</th>
                <th width="130">更新时间</th>
                <th width="90">状态</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            {volist name='data' id='c'}
            <tr class="text-c">
                <td><input type="checkbox" value="1" name=""></td>
                <td>{$c.id}</td>
                <td>
                    {if $c.root_parent_id != $c.parent_id}
                    {$c.name}
                    {else /}
                    <a href="{:url('category/subcategory', ['id'=>$c.id])}">{$c.name}</a>
                    {/if}
                </td>
                <td>{$c.create_time}</td>
                <td>{$c.update_time}</td>
                <td class="td-status">{:status($c.status)}</td>
                <td class="td-manage">
                    {if $c.status != 1}
                    <a style="text-decoration:none; font-size: 20px;" onclick="content_handle('确认要启用该分类吗?', '{:url('category/status', ['id'=>$c.id, 'status'=>1])}')" href="javascript:;" title="启用"><i class="Hui-iconfont">&#xe615;</i></a>
                    {else /}
                    <a style="text-decoration:none; font-size: 20px;" onclick="content_handle('确认停用该分类吗?', '{:url('category/status', ['id'=>$c.id, 'status'=>-1])}')" href="javascript:;" title="停用"><i class="Hui-iconfont">&#xe631;</i></a>
                    <a title="删除" href="javascript:;" onclick="content_handle('确认删除该分类吗?','{:url('category/status', ['id'=>$c.id, 'status'=>0])}')" class="ml-5" style="text-decoration:none; font-size: 20px;"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    {/if}

                </td>
            </tr>
            {/volist}
            </tbody>
        </table>
    </div>
</div>

{include file='public/footer'}