<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/front/css/register.css">
    <script src="/static/front/js/jquery-3.2.1.min.js"></script>
</head>
<body>
<div class="register">
    <div class="reg-header">
        <div class="clearfix">
            <div class="logo">
                <a href="#"><img src="/static/front/images/logo-baiduking.png"/></a>
            </div>
            <div class="reg-text">注册百度账号</div>
            <div class="reg-area">
                我已注册,现在就
                <a href="{:url('login/index')}" class="login-btn">登录</a>
            </div>
        </div>
    </div>
    <div class="reg-middle clearfix">
        <form class="reg-info" method="post" action="{:url('regist/save')}" id="info-form">
            <div class="fix user-input">
                <label>用户名</label>
                <input type="text" name="username" class="username" placeholder="请设置用户名">
                <span id="username-alert" style="display: none"></span>
            </div>
            <div class="tel-input fix">
                <label>手机号</label>
                <input type="text" name="phoneNumber" class="tel" placeholder="可用于登录和找回密码">
                <span id="phone-alert" style="display: none"></span>
            </div>
            <div class="email-input fix">
                <label>邮箱</label>
                <input type="text" name="email" class="email" placeholder="用于发送通知">
                <span id="email-alert" style="display: none"></span>
            </div>
            <div class="psw-input fix">
                <label>密码</label>
                <input type="password" name="password" class="password" placeholder="请设置登录密码">
                <span id="pwd-alert" style="display: none"></span>
            </div>
            <div class="psw-input fix">
                <label>确认密码</label>
                <input type="password" name="confirm-password" class="password" placeholder="请确认登录密码">
                <span id="confirm-pwd-alert" style="display: none"></span>
            </div>

            <div>{:captcha_img()}</div>

            <!--<div class="code-input fix">-->
                <!--<label>验证码</label>-->
                <!--<input type="text" name="code" class="code" id="code" placeholder="请输入验证码">-->
                <!--<input type="text" name="send-code" class="send-code" id="send-code" placeholder="获取短信验证码">-->
            <!--</div>-->
            <div class="agree">
                <input type="checkbox" id="check" name="agreement">
                阅读并接受<a href="#">《百度用户协议》</a>及<a href="#">《百度隐私权保护声明》</a>
                <span id="check-alert" style="display: none"></span>
            </div>
            <input type="button" id="submit-btn" value="注 册" disabled>
        </form>
    </div>
    <div class="foot clearfix">
        <div class="copy-box">2018 ©Baidu</div>
    </div>
</div>

    <script>
        var nameFlag = false;
        var phoneFlag = false;
        var emailFlag = false;
        var passwordFlag = false;
        var confirmFlag = false;
        var checkFlag = false;
        //实时检测用户名是否可用
        $('input[name=username]').keyup(function () {
            //获取value值
            var username = $(this).val();
            if ($.trim(username) === '')
            {
                $('#username-alert').html('用户名不能为空').show();
                checkAll();
                return;
            }
            var data = {
                username : username
            };
            var url = "{:url('regist/checkUsername')}";
            $.post(url, data, function (result) {
                //判断返回值
                if (result.status === 1)
                {
                    $('#username-alert').html('☑️').show();
                    nameFlag = true;
                    checkAll();
                }
                else
                {
                    $('#username-alert').html('该用户名不可用️').show();
                    nameFlag = false;
                    checkAll();
                }
            }, 'JSON');
        });
        //实时验证手机号格式
        $('input[name=phoneNumber]').keyup(function () {
            //获取手机号码
            var phoneNumber = $(this).val();
            if ($.trim(phoneNumber) === '')
            {
                $('#phone-alert').html('手机号码不能为空️').show();
                phoneFlag = false;
                return;
            }
            //正则表达式的校验
            if (isPhoneNo($.trim(phoneNumber))) {
                $('#phone-alert').html('☑️').show();
                phoneFlag = true;
            }
            else
            {
                $('#phone-alert').html('手机号码格式不正确️').show();
                phoneFlag = false;
            }
            checkAll();
        });
        //实时验证邮箱格式
        $('input[name=email]').keyup(function () {
            //获取手机号码
            var email = $(this).val();
            if ($.trim(email) === '')
            {
                $('#email-alert').html('邮箱不能为空️').show();
                emailFlag = false;
                return;
            }
            //正则表达式的校验
            if (isEmail($.trim(email))) {
                $('#email-alert').html('☑️').show();
                emailFlag = true;
            }
            else
            {
                $('#email-alert').html('邮箱格式不正确️').show();
                emailFlag = false;
            }
            checkAll();
        });
        //实时验证密码
        $('input[name=password]').keyup(function () {
            var pwd = $(this).val();
            if ($.trim(pwd) === '')
            {
                $('#pwd-alert').html('密码不能为空️').show();
                passwordFlag = false;
                return;
            }
            if ($.trim(pwd).length < 6)
            {
                $('#pwd-alert').html('密码长度不能少于6位️').show();
                passwordFlag = false;
                return;
            }
            else {
                $('#pwd-alert').html('☑️').show();
                passwordFlag = true;
            }
            checkAll();
        });
        //实时验证两次密码是否一致
        $('input[name=confirm-password]').keyup(function () {
            var confirm_pwd = $(this).val();
            var pwd = $('input[name=password]').val();
            if ($.trim(confirm_pwd) === '')
            {
                $('#confirm-pwd-alert').html('验证密码不能为空️').show();
                confirmFlag = false;
                return;
            }
            if ($.trim(confirm_pwd) !== $.trim(pwd))
            {
                $('#confirm-pwd-alert').html('两词密码不一致️').show();
                confirmFlag = false;
            }
            else
            {
                $('#confirm-pwd-alert').html('☑️').show();
                confirmFlag = true;
            }
            checkAll();
        });
        //验证用户协议
        $('input[name=agreement]').change(function () {
            if ($('input[name=agreement]').is(':checked')) {
                $('#check-alert').hide();
                checkFlag = true;
            }
            else
            {
                $('#check-alert').html('请勾选用户协议').show();
                checkFlag = false;
            }
            checkAll();
        });

        //手机号正则验证
        function isPhoneNo(phone) {
            var pattern = /^1[34578]\d{9}$/;
            return pattern.test(phone);
        }
        //邮箱正则验证
        function isEmail(email) {
            var pattern = /\w+[@]{1}\w+[.]\w+/;
            return pattern.test(email);
        }

        function checkAll() {

            console.log(nameFlag, phoneFlag, emailFlag, passwordFlag, confirmFlag, checkFlag);

            if (nameFlag && phoneFlag && emailFlag && passwordFlag && confirmFlag && checkFlag){
                //按钮可点
                $('#submit-btn').removeAttr("disabled").css({
                    background : 'green'
                }).click(function (e) {
                    //防止密码再次被修改
                    confirm_pwd = $('input[name=confirm-password]').val();
                    pwd = $('input[name=password]').val();
                    if ($.trim(confirm_pwd) !== $.trim(pwd))
                    {
                        $('#confirm-pwd-alert').html('两词密码不一致️').show();
                        confirmFlag = false;
                        return;
                    }
                    $("#info-form").submit();
                });
            }
            else
            {
                $('#submit-btn').attr('disabled', 'disabled').css({
                    background : 'gray'
                });
            }
        }

    </script>
</body>
</html>