<!--Footer-->
<div class="footer-content">
    <div class="footer">
        <div class="footer-flex">
            <div class="footer-item footer-item-01">
                <h3>用户帮助</h3>
                <ul>
                    <li>常见团购问题</li>
                    <li>开放API</li>
                </ul>
            </div>
            <div class="footer-item footer-item-02">
                <h3>手机百度助手</h3>
                <ul>
                    <li>百度糯米触屏版</li>
                    <li>下载手机版</li>
                </ul>
            </div>
            <div class="footer-item footer-item-02">
                <h3>商务合作</h3>
                <ul>
                    <li>友情链接</li>
                    <li>市场合作</li>
                </ul>
            </div>
            <div class="footer-item footer-item-02">
                <h3>公司信息</h3>
                <ul>
                    <li>关于百度糯米</li>
                    <li>百度糯米新浪微博</li>
                    <li>业务投诉</li>
                </ul>
            </div>
            <div class="footer-item footer-item-03">
                <h3>400-9216-666</h3>
                <ul>
                    <li>周一至周日 9:00-22:00</li>
                    <li>客服电话 免长途费</li>
                </ul>
                <a class="mobile-btn">手机专享优惠</a>
            </div>
        </div>
    </div>
    <div class="police-number">
        <a href="#">
            <img src="/static/front/images/police-logo.png" alt="">
            <p>京公网安备 11000002000001号</p>
        </a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
<script>
    //轮播图
    var mySwiper= new Swiper('.swiper-container', {
        direction: 'horizontal',
        loop: true,
        autoplay : true,
        effect : 'fade',
        pagination: {
            el: '.swiper-pagination',
            clickable:true
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
</body>
</html>