{include file='index/header'}
<!--中部轮播区域-->
<div class="middle-area">
    <div class="swiper-area swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="/static/front/images/swiper00.png" alt=""> </div>
            <div class="swiper-slide"><img src="/static/front/images/swiper01.png" alt=""> </div>
            <div class="swiper-slide"><img src="/static/front/images/swiper02.png" alt=""> </div>
            <div class="swiper-slide"><img src="/static/front/images/swiper03.png" alt=""> </div>
        </div>

        <div class="swiper-pagination"></div>

        <!--<div class="swiper-button-prev swiper-button-white"></div>-->
        <!--<div class="swiper-button-next swiper-button-white"></div>-->
    </div>
    <!--醉美的拍季-->
    <div class="right-top-area">
        <a href="#">
            <img src="/static/front/images/right-banner01.jpg" alt="">
        </a>
    </div>

    <!--二维码图片-->
    <div class="right-bottom-area">
        <a href="#">
            <img src="/static/front/images/right-banner02.png" alt="">
        </a>
    </div>
</div>

<!--热映电影区域-->
<div class="hot-film">
    <div class="hot-film-header">
        <h3>热映电影</h3>
        <ul>
            <li class="link-all"><a href="#">查看全部<img class="hot-film-arrow-right" src="/static/front/images/hotfilm-arrow-right.png"/></a> </li>
            <li><a href="#">看票房</a></li>
            <li><a href="#">找影院</a>/</li>
            <li><a href="#">看影片</a>/</li>
        </ul>
    </div>
    <ul class="hot-film-list">
        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie01.jpg">
                    <span class="movie-score">8.1</span>
                </div>
                <div class="movie-title">侏罗纪世界2</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie02.jpg">
                    <span class="movie-score">7.8</span>
                </div>
                <div class="movie-title">猛虫过江</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie03.jpg">
                    <span class="movie-score">7.3</span>
                </div>
                <div class="movie-title">泄密者</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie04.jpg">
                    <span class="movie-score">7.8</span>
                </div>
                <div class="movie-title">动物世界</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie05.jpg">
                    <span class="movie-score">7.5</span>
                </div>
                <div class="movie-title">龙虾刑警</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

        <li class="film-item">
            <a class="film-item-a" href="#">
                <div class="movie-show">
                    <img class="movie-image" src="/static/front/images/movie06.jpg">
                    <span class="movie-score">7.7</span>
                </div>
                <div class="movie-title">吃货宇宙</div>
                <div class="movie-choose">选座购票</div>
            </a>
        </li>

    </ul>
</div>

<!--休闲娱乐区域-->
<div class="hot-film yule-area">
    <!--复用电影区域的class-->
    <div class="hot-film-header">
        <h3>休闲娱乐</h3>
        <ul>
            <li class="link-all"><a href="#">查看全部<img class="hot-film-arrow-right" src="/static/front/images/hotfilm-arrow-right.png"/></a> </li>
            <li><a href="#">运动健身</a></li>
            <li><a href="#">轰趴馆</a>/</li>
            <li><a href="#">足浴按摩</a>/</li>
            <li><a href="#">KTV</a>/</li>
        </ul>
    </div>
    <ul class="yule-list">
        <li class="yule-item">
            <a class="yule-item-a" href="#">
                <img class="yule-image" src="/static/front/images/yule01.jpg" alt="">
                <div class="yule-title">丽水金沙温泉水会</div>
                <a class="star-common-area" href="#">
                    <div class="star-grey">
                        <div class="star-light"></div>
                    </div>
                    <span class="common-count">722条评论</span>
                </a>
                <div class="shop-info">
                    <span>温泉洗浴 | 三八广场</span>
                    <span class="has-sale">已售24222</span>
                </div>
                <div class="sale-info">￥139.5/人</div>
            </a>
        </li>
        <li class="yule-item">
            <a class="yule-item-a" href="#">
                <img class="yule-image" src="/static/front/images/yule02.jpg" alt="">
                <div class="yule-title">圣亚海洋世界</div>
                <a class="star-common-area" href="#">
                    <div class="star-grey">
                        <div class="star-light"></div>
                    </div>
                    <span class="common-count">226条评论</span>
                </a>
                <div class="shop-info">
                    <span>景点郊游 | 黑石礁</span>
                    <span class="has-sale">已售1765</span>
                </div>
                <div class="sale-info">￥119/人</div>
            </a>
        </li>
        <li class="yule-item">
            <a class="yule-item-a" href="#">
                <img class="yule-image" src="/static/front/images/yule03.jpg" alt="">
                <div class="yule-title">海帝游泳馆</div>
                <a class="star-common-area" href="#">
                    <div class="star-grey">
                        <div class="star-light"></div>
                    </div>
                    <span class="common-count">113条评论</span>
                </a>
                <div class="shop-info">
                    <span>温泉洗浴 | 三八广场</span>
                    <span class="has-sale">已售4229</span>
                </div>
                <div class="sale-info">￥42.5/人</div>
            </a>
        </li>
        <li class="yule-item">
            <a class="yule-item-a" href="#">
                <img class="yule-image" src="/static/front/images/yule04.jpg" alt="">
                <div class="yule-title">亚斯德火浴广场(解放路店)</div>
                <a class="star-common-area" href="#">
                    <div class="star-grey">
                        <div class="star-light"></div>
                    </div>
                    <span class="common-count">709条评论</span>
                </a>
                <div class="shop-info">
                    <span>温泉洗浴 | 桃源</span>
                    <span class="has-sale">已售9102</span>
                </div>
                <div class="sale-info">￥139.5/人</div>
            </a>
        </li>
        <li class="yule-item">
            <a class="yule-item-a" href="#">
                <img class="yule-image" src="/static/front/images/yule05.jpg" alt="">
                <div class="yule-title">大连森林动物园</div>
                <a class="star-common-area" href="#">
                    <div class="star-grey">
                        <div class="star-light"></div>
                    </div>
                    <span class="common-count">33条评论</span>
                </a>
                <div class="shop-info">
                    <span>景点郊游 | 付家庄</span>
                    <span class="has-sale">已售353</span>
                </div>
                <div class="sale-info">￥3839/人</div>
            </a>
        </li>
    </ul>
</div>

<!--旅游区域-->
<div class="hot-film travel-area">
    <div class="hot-film-header">
        <h3>旅游</h3>
        <ul>
            <li class="link-all"><a href="#">查看全部<img class="hot-film-arrow-right" src="/static/front/images/hotfilm-arrow-right.png"/></a> </li>
        </ul>
    </div>
    <ul class="travel-list">
        <li class="travel-item">
            <a class="travel-item-a" href="#">
                <img src="/static/front/images/travel01.jpg" alt="">
                <div class="travel-title">目的地攻略</div>
                <div class="travel-title-en">Travelling guide</div>
            </a>
        </li>
        <li class="travel-item">
            <a class="travel-item-a" href="#">
                <img src="/static/front/images/travel02.jpg" alt="">
                <div class="travel-title">行程计划</div>
                <div class="travel-title-en">Travelling plan</div>
            </a>
        </li>
        <li class="travel-item">
            <a class="travel-item-a" href="#">
                <img src="/static/front/images/travel03.jpg" alt="">
                <div class="travel-title">游记</div>
                <div class="travel-title-en">Travelling notes</div>
            </a>
        </li>
    </ul>
</div>

<!--结婚区域-->
<div class="hot-film marry-area">
    <div class="hot-film-header">
        <h3>结婚</h3>
        <ul>
            <li class="link-all"><a href="#">查看全部<img class="hot-film-arrow-right" src="/static/front/images/hotfilm-arrow-right.png"/></a> </li>
        </ul>
    </div>
    <ul class="marry-list">
        <li class="marry-item">
            <a class="marry-item-a" href="#">
                <img src="/static/front/images/marry01.jpg" alt="">
                <div class="image-title">婚纱摄影</div>
                <div class="image-title-en">Wedding Photo</div>
            </a>
        </li>
        <li class="marry-item">
            <a class="marry-item-a" href="#">
                <img src="/static/front/images/marry02.jpg" alt="">
                <div class="image-title">婚纱礼服</div>
                <div class="image-title-en">Wedding Dress</div>
            </a>
        </li>
        <li class="marry-item">
            <a class="marry-item-a-top" href="#">
                <img src="/static/front/images/marry03.jpg" alt="">
                <div class="image-title">婚庆服务</div>
                <div class="image-title-en">Wedding Service</div>
            </a>

            <a class="marry-item-a-bottom" href="#">
                <img src="/static/front/images/marry04.jpg" alt="">
                <div class="image-title">个性写真</div>
                <div class="image-title-en">Personal Photo</div>
            </a>
        </li>
        </li>
    </ul>
</div>

<!--底部分类-->
<div class="bottom-category">
    <ul class="bottom-ul">
        <li class="category-li">
            <a class="category-title" id="may-you-like" href="#">猜你喜欢</a>
        </li>
        <li class="category-li">
            <a class="category-title" id="new-indent" href="#">最新团单</a>
        </li>
        <li class="category-li">
            <a class="category-title" id="hot-mall" href="#">热门商场</a>
        </li>
    </ul>
    <div class="category-content" id="may-you-like-div">
        <ul>
            <li>和谐号海鲜烤肉火锅自助(庄河店)</li>
            <li>鼎香缘海鲜自助火锅(佳兆业店)</li>
            <li>华纳印象婚纱摄影工作室</li>
            <li>春花秋月(中央大道店)</li>
            <li>千百味自助海鲜烤肉</li>
            <li>千百味自助火锅烤肉</li>
            <li>蒙娜丽莎婚纱摄影</li>
            <li>韩盛自助烤肉(福佳店)</li>
            <li>亚斯德火浴广场(解放路店)</li>
            <li>融艺学堂diy手工学堂</li>
            <li>海帝游泳馆</li>
            <li>圣亚海洋世界</li>
            <li>优为客牛排</li>
            <li>和谐号海鲜烤肉火锅自助(华南佳和总店直营店)</li>
            <li>美年大健康体检(第五郡店)</li>
            <li>今迈纯K量贩式KTV</li>
            <li>十洲云水大酒店</li>
            <li>丽水金沙温泉水会</li>
            <li>海之乡日本料理铁板烧(星海店)</li>
            <li>木法宁木作工坊</li>
            <li>爱斯米牛排自助(福佳店)</li>
            <li>时代钢琴成人钢琴培训</li>
            <li>海味天下海鲜自助(中原街店)</li>
        </ul>
    </div>
    <div style="display: none" class="category-content" id="new-indent-div">123</div>
    <div style="display: none" class="category-content" id="hot-mall-div">123</div>
</div>

{include file='index/footer'}